---
import Layout from "../layouts/Layout.astro";
import { readCurrentUser } from "../services/currentUser";
import { readUpstash, postUpstash } from "../services/upstash";

const currentUser = await readCurrentUser(Astro.request);
let counter = await readUpstash("/get/counter");

if (Astro.request.method === "POST") {
  const start = Date.now();
  counter = (await postUpstash(["INCR", "counter"])).result;
  console.log(`latency to increment counter: ${Date.now() - start}ms`);
  return Astro.redirect("/counter");
}
---

<Layout title="Welcome to Astro." currentUser={currentUser}>
  <main>
    <form method="post">
      <output>Counter: {counter}</output>
      <button name="action" value="increment">Increment</button>
    </form>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  form {
    font-size: var(--font-size-lg);
  }
</style>
